<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%= podcast.flashcard_completion_percentage %>" aria-valuemin="0" aria-valuemax="100" id="progress">
  <div class="progress-bar" style="width: <%= podcast.flashcard_completion_percentage %>%"><%= podcast.flashcard_completion_percentage %>%</div>
</div>
