<% content_for :title do %>
  Dotes
<% end %>
<div class="window">
  <div class="d-flex justify-content-center">
    <div class="photo-pill pill1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("chad2.jpg") %>)">
    </div>
    <div class="photo-pill pill2" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("waman2.jpg") %>)">
    </div>
    <div class="photo-pill pill3" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("chad1.png") %>)">
    </div>
    <div class="photo-pill pill4" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("waman1.jpg") %>)">
    </div>
  </div>
  <div class="center text-white giga">Podcasts that evolve with you</div>
</div>
