#fader {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  // background: white;
  transition: opacity .3s ease-in-out;
  background-image: asset-url("background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0%;
}

#fader.fade-out {
   opacity: 0;
}

#fader.fade-in {
  opacity: 1;
}
