.menu-btn.dropdown-toggle::after {
  display: none;
}

.menu-btn {
  min-width: 4em;
  background: none;
  border: none;
  border-radius: 25px;
}

.menu {
  .dropdown-menu {
    right: 0;
    left: unset;
    min-width: unset;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 25px;
  }
  .nav-link {
    margin: 1em 0.2em;
  }
}
