.photo-pill {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
}

.pill1 {
  height: 150px;
  width: 20%;
  margin-top: 26%;
}

.pill2 {
  height: 300px;
  width: 20%;
  margin-top: 6%;
  margin-left: 3%;
}

.pill3 {
  height: 200px;
  width: 20%;
  margin-top: 19%;
  margin-left: 3%;
}

.pill4 {
  height: 100px;
  width: 20%;
  margin-top: 33%;
  margin-left: 3%;
}
