.center {
  text-align: center;
}

.giga {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.text-dark-grey {
  color: $dark-gray;
}

.hover {
  transition: color 0.1s;
}

.red-hover:hover {
  color: red;
}

.target_langauge_text {
  color: pink;
  font-size: 22px;
  font-weight: bold;
}
