.center {
  text-align: center;
}

.giga {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.text-dark-grey {
  color: $dark-gray;
}

.hover {
  transition: color 0.1s;
}

.red-hover:hover {
  color: red;
}

.target_language_text {
  color: #191919;
  background-color: #daf7d36e;
  border-radius: 5px;
  padding: 0.7px 5px;
  border: 1.2px solid;
}
