.center {
  text-align: center;
}

.giga {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.text-dark-grey {
  color: $dark-gray;
  opacity: 0.3;
}

.hover {
  transition: color 0.1s;
}

.red-hover:hover {
  color: red;
  opacity: 1;
}

.target_language_text {
  color: #191919;
  background-color: #daf7d36e;
  border-radius: 5px;
  padding: 0.7px 5px;
  border: 1.2px solid;
}

.podcast-subtitle {
  font-size: 1.2em;
  color: $dark-gray;
  text-align: center;
}
.flashcard-prompt {
  font-size: 2rem;
}
