.window {
  border-radius: 25px;
  height: 100%;
  // max-height: calc(100vh - 62px);
  overflow-y: scroll;
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  width: calc(100% - 24px);
}

// .window-show {
//   overflow-y: hidden;
// }

.blur {
  position: sticky;
  bottom: 0;
  height: 64px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  backdrop-filter: blur(2px);
  -webkit-mask: linear-gradient(transparent, white 50%);
}
