.window {
  border-radius: 25px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  width: calc(100% - 24px);
}

.max-width-450 {
  max-width: 450px;
  margin: 0 auto;
}

.window-show {
  border-radius: 25px;
  overflow-y: scroll;
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  width: calc(100% - 24px);
}

.host-desc {
  min-height: 180px;
  max-height: 260px;
  overflow-y: scroll;
}

.host-sum {
  max-height: 230px;
  overflow-y: scroll;
}

.blur {
  position: sticky;
  bottom: 0;
  height: 64px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  backdrop-filter: blur(2px);
  -webkit-mask: linear-gradient(transparent, white 50%);
}
