<% if podcast.status == 'failed'  %>
  <script type="text/javascript">
    window.location.href="/podcasts/new"  // put your correct path in a string here
  </script>
<% end %>
<div id="audio">
  <div class="player-div rounded-pill">
    <% if podcast.audio.attached? %>
      <audio controls class="w-100 player">
        <source src="<%= url_for(podcast.audio) %>" type="<%= podcast.audio.content_type %>">
        Your browser does not support the audio element.
      </audio>
    <% else %>
      <%= render "shared/loading_bar" %>
    <% end %>
  </div>
</div>
