<div class="swiper-slide left">
  <div class="d-flex flex-column justify-content-between">
    <div class="podcast-title text-center text-white fw-light fs-3 max-width-450 pt-1">
      <% if podcast.title %>
        <%= podcast.title %> <br>
        Flashcards
      <% else %>
        <%= render "shared/loading_bar" %>
      <% end %>
    </div>
  </div>
  <div class="progress-bar">
    bar showing progress smth/smth
  </div>
  <div class="flip-card window">
    <div class="flip-card-inner" data-controller="flip-card" data-action="click->flip-card#flip">
      <div class="flip-card-front glassmorph window p-5">
        WHAT DOES 'CIPOWATA POGODA NA ZEWNATRZ' MEAN IN POLISH??????
      </div>
      <div class="flip-card-back glassmorph window p-5">
        <%#= simple_form_for @flashcard do |f| %>
          <%#= f.input %>
          <div>
            'IT'S PUSSYING OUTSIDE'
          </div>
          <div>
            DID YOU GET IT RIGHT?????
          </div>
          <button data-flip-card-target="yes">
            YES
          </button>
          <button data-flip-card-target="no">
            NAH
          </button>
          <%# end %>
        </div>
      </div>
      <p class="overflow-auto fw-light">
        <% if podcast.title %>
          <%= podcast.title %>
        <% else %>
          <%= render "shared/loading_bar" %>
        <% end %>
      </p>
    </div>
    <div class="text-white d-flex window-5 justify-content-end">
      <div class="align-self-center">
        Transcript >>
      </div>
    </div>
  </div>
