<% content_for :title do %>
  Dotes
<% end %>
<div class="window glassmorph">
  <% unless @todays_podcasts.empty? %>
    <div class="podcast_subtitle pt-3 pb-1 text-center fw-lighter fs-2">Today's podcasts</div>
  <% end %>
  <%= render 'index_section', podcasts: @todays_podcasts %>
  <% unless @weeks_podcasts.empty? %>
    <div class="podcast_subtitle pt-1 text-center fw-lighter fs-2">This week's podcasts</div>
  <% end %>
  <%= render 'index_section', podcasts: @weeks_podcasts %>
  <% unless @other_podcasts.empty? %>
    <div class="podcast_subtitle pt-1 text-center fw-lighter fs-2">Previous podcasts</div>
    <%= render 'index_section', podcasts: @other_podcasts %>
  <% end %>
  <!-- <div class="blur"></div> -->
</div>
