<div class="glassmorph window p-4 text-center" data-controller="topic-selector">
  <% if current_user.id == 1 %>
    <div class="alert alert-light alert-dismissible fade show p-3" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <span class="me-4">In demo mode podcast generation is simulated.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <%= simple_form_for @podcast, local: true do |f| %>
    <%= f.input :user_prompt,
      label: "Choose one of the crafted topics",
      collection: @user_language.suggested_topics + ["Choose your own topic"],
      as: :radio_buttons,
      selected: @podcast.user_prompt,
      input_html: { class: "tag-selector rounded-pill", data: { action: 'change->topic-selector#showInput' }},
      item_wrapper_class: 'tag-item' %>
    <input type="text" name="podcast[user_prompt]" data-topic-selector-target="userInput" class="d-none " id="podcast_user_prompt">
    <%= f.input :level,
      collection: Podcast::LEVELS.values,
      selected: @level,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector m-1'},
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper' %>
    <%= f.input :learning_style, collection: Podcast::LEARNING, as: :select,
      as: :radio_buttons,
      input_html: { class: "tag-selector" },
      item_wrapper_class: 'tag-item' %>
  <% end %>
</div>
