<div class="glassmorph window p-4 text-center" data-controller="topic-selector">
  <%= simple_form_for @podcast, local: true do |f| %>
    <%= f.input :user_prompt,
      label: "Choose one of the crafted topics",
      collection: @user_language.suggested_topics + ["Choose your own topic"],
      as: :radio_buttons,
      selected: @podcast.user_prompt,
      input_html: { class: "tag-selector rounded-pill", data: { action: 'change->topic-selector#showInput' }},
      item_wrapper_class: 'tag-item' %>
    <input type="text" name="podcast[user_prompt]" data-topic-selector-target="userInput" class="d-none " id="podcast_user_prompt">
    <%= f.input :level,
      collection: Podcast::LEVELS.values,
      selected: @level,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector m-1'},
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper' %>
    <%= f.input :learning_style, collection: Podcast::LEARNING, as: :select,
      as: :radio_buttons,
      input_html: { class: "tag-selector" },
      item_wrapper_class: 'tag-item' %>
  <% end %>
</div>
